streamlit>=1.25.0
python-dotenv>=1.0.0
tiktoken>=0.4.0
selenium>=4.11.2
tqdm>=4.65.0
langchain>=0.0.235
pinecone-client>=2.2.1
langchain_community>=0.0.5
langchain_text_splitters>=0.0.7
langchain_huggingface>=0.0.2
langchain_pinecone>=0.0.3
langchain_core>=0.0.1