# Basic dependencies
python-dotenv==1.0.0
streamlit
tqdm==4.65.0
uuid==1.30

# Pinecone client
pinecone-client

# Langchain and related libraries
langchain
langchain-openai
langchain-huggingface
langchain-core
langchain-community
langchain-pinecone

# HuggingFace dependencies
transformers
torch
sentence-transformers

# OpenAI API
openai

# Additional dependencies (if necessary)
requests
pydantic<2.0